.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.filterCategory {
  background-color: #f1f5f9;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  box-shadow:
    0 0 0 1px #00000008,
    0 2px 4px #0000000d,
    0 12px 24px #00000008;
}

.filterCategorySelected {
  background-color: #218f26;
  color: white;
}
