.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mainTitle {
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  font-weight: normal;
  color: #6b7280;
}
