.centralFields {
  background-color: #edeff380;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.centralFieldsFirstRow {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.centralFieldsSecondRow {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}


@media (max-width: 480px) {
  .centralFieldsFirstRow {
    flex-direction: column;
    align-items: stretch;
  }
}

.errorMessage {
  font-size: 11px;
  color: #ef4444;
  margin-top: -15px;
  margin-bottom: 0px;
  font-weight: 500;
  display: block;
}
